@page
@model LoginModel



@{
    Layout = null;
    ViewData["Title"] = "CK41 Tour - Admin Panel";
}
<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<div class="login-container">
    <div class="login-box">
        <img src="~/images/Admin/logo.png" alt="CK41 Tours" class="login-logo" />
        <h2>@ViewData["Title"]</h2>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Email" class="form-label align-label">Email</label>
                <input asp-for="Input.Email" class="form-control rounded-input" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <label asp-for="Input.Password" class="form-label align-label">Password</label>
                <input asp-for="Input.Password" class="form-control rounded-input" autocomplete="current-password" aria-required="true" placeholder="password" />
               
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div><br />
            <button id="login-submit" type="submit" class="btn btn-primary w-100">Log in</button>
        </form>
       @*  <p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>
        <p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p> *@

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
